# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# EAS
.eas/

# Logs
*.log
/qvac/
